body{
    background-color: rgb(202, 181, 136);
    display: flex; /*new*/
    flex-direction: column; /*new*/
    margin: 0; /*new*/
    /* justify-content:center;
    align-items: center; */
    min-height: 100vh;
    /*vh stands for Viewport Height,  1vh= 1% of the visible browser window height so, 100vh is the full hight of the device*/
}
.containsForms{
    background-color: rgb(202, 181, 136);
    display: flex; /*new*/
    flex-direction: column; /*new*/
    margin: 0; /*new*/
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    /*vh stands for Viewport Height,  1vh= 1% of the visible browser window height so, 100vh is the full hight of the device*/
}
header{
    width: 100%;
    padding: 0;
    display: flex; /*flexible container*/
    justify-content: center;
    align-items: baseline;  /*make elements stand on same line*/
    gap: 15px;              /*spacing between h1 and p*/
    background-color: #b39d63;
    color:  #35330f;
}
#themeBTN{
    width:100px;
    margin: 5px;
    background-color: #0b3b1a;
    transition: 0.5s;
}
#themeBTN:hover{
    transform: scale(1.1);
    background-color: #6e551e;
}
header h1, header p{
    padding: 0;
}
header p{
    color: #35330f;;
}
header h1{
    font-size: 120%;
}
h2{
    font-size: 200%;
    color:  #a88b4b;
    font-weight: 900;
    text-shadow: 2px 2px 0px #725e28;
    text-shadow: 0px 0px 0px #725e28;
}

.welcome{
    border-radius: 2px 20px 2px 20px;
    background-color: rgba(133, 97, 9, 0.2);
    padding: 3px;
}
.welcome h1, .welcome p{
    font-family: Calisto MT;
    font-weight: bold;
    text-align: center;
    margin: 0;
    color: #5c491a;
}
p{
    margin: 20px;
    padding: 10px;
}

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - header_height - footer_height);
}

.Father-container{
    flex: 1;
    display: flex; 
    flex-direction: row; 
}
.sidebar{
    margin-right: auto;
    margin-left: 0;
    width: 85px;                 
    background-color: #88702f;
    display: flex;
    flex-direction: column;    /*align elements vertically*/
    padding: 20px 10px;
    gap: 20px; /*spacing between elements*/
}
.sidebar ul{
    display: block;
    list-style-type: none;
    margin-block: 0;     
    padding: 0px; 
}
.sidebar li {
    display: block;
    text-align: match-parent;
    margin-bottom: 20px;
}
            .sidebar a{ /*styling links within sidebar*/
                display: block;
                color:#2c5323;
                background-color: #d6ce84;
                font-weight: bold;
                text-decoration: none; /*romve the underlines*/
                padding: 3px; /*spacing between text and border*/
                border-radius: 2px 10px 2px 10px;
                font-size: 100%;
                transition: all 0.5s ease;
            }
            .sidebar a:hover{
                color:#86753c;
                background-color: #c3cf8d;
                text-decoration: none; /*romve the underlines*/
                padding: 5px; /*spacing between text and border*/
                border-radius: 2px 10px 2px 10px;
                 transform: translateX(5px)  scale(1.05); 
                 /*translateX: move 5px to right on x axis*/
                 /*scale: enlarge by 5%*/
            }
.main-content{
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    flex: 1; /*takes the left-behind space from the flex before*/
    flex-direction: column;
    margin: 10px;
    border-radius: 2px 20px 2px 20px;
    background-color:rgb(240, 232, 190);
    overflow: hidden;
}
footer{
    width: 100%;
    display: flex;
    background-color:rgba(214, 206, 132, 0.7);
    font-size: 130%;
    text-align: center;
    justify-content: center; 
    flex-direction: row;
}
/*_____Profile_____*/
.profile-body .user-data{
    background-color: #173012;;
    border-radius: 2px 20px;
    padding: 20px;
}
.profile-body .input-reg, .profile-body .user, .profile-body .password-reg, 
.profile-body .gender-details, .profile-body .phone{
    background-color: rgba(3, 97, 31, 0.219);
    padding: 5px;
    margin: 20px;
    border-radius: 2px 20px;
}
.profile-body h3{
    display: inline;
    background-color: rgba(32, 99, 37, 0.527);
    color:#dbb970;
    padding: 10px;
    border-radius: 2px 20px;
}
.profile-body header p{
    display: inline;
    color: #35330f;
}
.profile-body p{
    display: inline;
    color:#ecc674;
}

/*______Registration_&&_Sign_In______*/
.page-reg{
    width: 80%;
    height: 50%;
}
.page-signIn h1, .page-reg h1{
    background-color: rgba(167, 147, 94, 0.9);
    color: #173012;;
    padding: 10px;
    border-radius: 2px 20px;
    display: inline-block;
}
.page-signIn label, .page-reg label{
    position: relative;
    color: #162916;
    font-size: 120%;
    font-weight: bold;
    background-color: rgba(232, 243, 193, 0.623);
    padding: 5px;
    border-radius: 2px 10px;
}
.page-signIn .btn{
    width: 100px;
    font-size: 120%;
    margin:20px;
}
.page-signIn i{
    color: #173012;
    font-size: 120%;
    padding: 2px;
    border-radius: 20px;
    background-color: white;
}
.remember-me, .Register{
    padding: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.342);
    border-radius: 2px 20px;
}
.remember-me a:link, .Register a:link{
    color: rgb(250, 250, 250);
    background-color: rgba(6, 59, 15, 0.63);
    padding: 5px;
    border-radius: 20px;
    transition: 0.5s;
}
.remember-me a:hover, .Register a:hover{
    background-color: #042209;
}
.remember-me a:visited, .Register a:visited{
    color: rgb(0, 19, 2);
}

.page-reg input{
    width: 50%;
    padding: 12px;
    background-color: rgb(247, 243, 227);
    border: 3px solid #173012;
    border-radius: 20px;
    outline: none;
    transition: 0.3s;
}
.page-reg .btn{
    width: 100px;
    font-size: 120%;
}
/*__Gender Picking__*/
.page-reg h2{
    background-color: rgba(232, 243, 193, 0.623);
    border-radius: 2px 20px;
    display: inline-block;
    color: #162916;
    padding: 10px;
}
.page-reg .category{
    background-color: rgba(167, 147, 94, 0.6);
    border-radius: 2px 20px;
    justify-content: center;
    padding: 5px;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.page-reg .category label{
    margin: 20px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    background-color: rgb(238, 237, 208);
    border: 3px solid #173012;
    border-radius: 20px;
    width: 100px;
}

.page-reg .category label input:focus{
    border-color: #947125;
    box-shadow: 0 0 5px rgba(121, 96, 16, 0.678);
    padding: 5px;
}

/*______Search______*/
.search-content{
    width: calc(100vw - nav width)
}

figure a img{
    border: 3px solid rgb(14, 61, 24);
    border-radius: 20px;
    max-width: 700px;
    height: cover;
}

figcaption{
    font-weight: bold;
    color:#b49748;
    padding: 7px;
    border-radius: 2px 20px;
    background-color: rgb(14, 61, 24);
    max-width: 500px;
    text-align: center;
}
#results.grid-view div {
    margin:50px;
    border: 3px solid #88702f;
    background-color:#042209;
    border-radius: 2px 20px;
    padding: 10px;
    justify-content: center; 
}
#results.grid-view {
    overflow: scroll;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
#results.list-view div{
    width: 95%;
    border-bottom: 2px solid #88702f;
    box-shadow: 0 0 0.5px #4b3c14, 0px 0px 2px #c4a551;
}
.search-container p{
    color: #88702f;
    text-shadow: 0 0 0.5px #4b3c14, 0px 0px 2px #c4a551;
}
.search-container{
    padding: 20px;
    width: 100%;
}
#searchInput{
    max-width: 80%;
    border-radius: 2px 20px;
    margin: 20px;
}
#toggleButton{
    width: 180px;
    margin: 20px;
}
#toggleButton:hover{
    transform: scale(1.1);
    background-color: rgba(15, 43, 9, 0.884);
}

/*______timetable______*/

.timetable-h1{
    color:#5a4e26;
}
.timetable-h1 span{
    font-size: 65%;
}
.timetable{
    border-collapse: collapse;
    border: 5px outset #a88b4b;
    border-radius: 2px 20px;
    padding: 5px;
}
.timetable th{
    background-color: #173012;
    color: #d4bb84;
    padding: 16px 12px;
    border-bottom: 2px solid #a88b4b;
    text-align: left;
}
.timetable td{
    padding: 14px 12px;
    border-bottom: 1.5px solid #a88b4b;
    vertical-align: top;
    background-color: #e9ecc0;
    transition: 0.2s;
}
.timetable tr:hover td{
    background-color:rgba(15, 54, 8, 0.267);
}
.timetable td.landmark{
    background-color:#d2e69d;
                font-weight: bold;
}
button:not(.previous,.next){
    font-family: SimSun;
    font-weight: bold;
                background-color: #235327;
                color: #e0bda2;
                border: none;
                padding: 5px;
                border-radius: 2px 10px 2px 10px;
                transition: all 0.3s ease;
                width: 50px;
}
button:not(.previous,.next):hover{
                background-color: rgb(133, 102, 45);
                transform: translateX(10px)  scale(1.1);
}
.note{
                padding: 10px;
                background-color: #a88b4b;
}

#hasMap{
    display:flex;
    justify-content: center;
}
#hasMap div{
    padding: 10px;
    border-radius: 16px;
    transition: transform 0.2s;
}
#hasMap div:hover{
    transform: scale(1.4,1.4);
}
#hasMap h3{
    margin-top: 0;
}

/*______index_____*/
.imgSuggest{
    position: relative;
    text-align: center;
}
.imgSuggest p{
    color: white;
    position: absolute;
    left:420px;
    bottom:50px;
}
.imgSuggest a{
    color: white;
    position: absolute;
    left: 450px;
    bottom:50px;
}

.imgSuggest img{
    height: 300px;
    width: 900px;
    object-fit: cover;
    border-radius: 16px;
    border: 10px solid rgb(4, 41, 9);
    margin: 30px;
}
.imgSuggest:hover img{
    filter: brightness(0.6);
    transition: 0.5s;
}
.next, .previous{
    background-color:transparent;
    outline: none;
    border: none;
    position: absolute;
    color: white;
}
.previous{
    font-size: 2rem;
    top:50%;
    left:430px;
    z-index:5;
}
.next{
    font-size: 2rem;
    top:50%;
    right:430px;
    z-index:5;
}

.suggestions{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
}
.place {
  background-color: #173012;
  color:#b9964a;
  width: 250px;
  margin: 15px;
  padding: 10px;
  border-radius: 2px 10px 2px 10px;
  text-align: center;
  font-weight: 900;
}
.place h3{
    font-family: SimSun;
    color:#dbb970;
    background-color: rgba(34, 97, 39, 0.4);
    padding: 5px;
    border-radius: 2px 20px 2px 20px;
}
.place a {
        color: #fffacc;
        margin-left: 0px;
        text-decoration: none;
        transition: all 0.5s ease;
        display: block;
        margin-top: 10px;
        margin-right: 0;
      }

.place a:hover {
        color: #173012;
        font-weight: bold;
        background-color: #5f8657;
        padding: 3px;
        border-radius: 2px 10px 2px 10px;
        transform: scale(1.09); 
      }

.place img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}
.image-cell img{ 
    width: 140px; 
    height: 100px;
    border-radius: 2px 20px;
    border: 3px solid #173012;
}
.price-badge {
            background-color: #e7d4a7;
            color: #644e0b;
            padding: 8px 15px;
            border-radius: 0px 20px;
            font-weight: bold;
            /*border: 1px solid #173012;*/
            box-shadow: 0px 1px 3px rgb(23, 48, 18, 1);
            display: inline-block;
            white-space: nowrap;
}


/*Contact us*/
.contact-main{
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
}
.contact-info {
        flex: 1;
        background-color: #173012;
        color: white;
        padding: 30px;
        border-radius: 2px 20px;
}
.contact-info p{
    font-size: 120%;
}

.information-item,.contact-links {
        margin-bottom: 7px;
        background-color: rgba(34, 97, 39, 0.4);
        padding: 10px;
        border-radius: 2px 20px;
}

   .direct-email {
        display: inline-block;
        color: #e4ba30;
        text-decoration: none;
        font-size: 16px;
        transition: 0.3s;
        margin: 10px;
    }

    .direct-email:hover {
        color: #fff;
        text-decoration: underline;
    }  

    .email {
        margin-bottom: 20px;
    }

    .email label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

.contact-form {
    flex: 1;
    padding: 30px;
}

.contact-form h3{
    font-size: 150%;
    color: #173012;
    margin-bottom: 20px;
}

form{
    border: 3px solid #173012;
    border-radius: 2px 20px;
    padding: 50px;
    background-color: rgb(215, 235, 169);
    background-image: url('wallpaper.jpg');
}

 input:not([type="checkbox"]), textarea
    {   width: 100%;
        padding: 12px;
        background-color: rgb(247, 243, 227);
        border: 3px solid #173012;
        border-radius: 20px;
        outline: none;
        transition: 0.3s;
    }
.contact-form label{
        position: relative;
        color: #162916;
        font-size: 120%;
        font-weight: bold;
        background-color: rgba(232, 243, 193, 0.623);
        padding: 5px;
        border-radius: 2px 10px;
    }
    select{
        color: rgba(44, 40, 2, 0.767);
        font-weight: bold;
        font-size: 110%;
        width: 107%;
        padding: 12px;
        background-color: rgb(247, 243, 227);
        border: 3px solid #173012;
        border-radius: 20px;
        outline: none;
        transition: 0.3s;
    }
    select option:hover{
        background-color: rgb(24, 153, 56);
    }
    input::placeholder, textarea::placeholder{
        color: rgba(44, 40, 2, 0.767);
        font-size: 110%;
        font-weight: bold;
    }

    input:focus, select:focus, textarea:focus {
        border-color: #947125;
        box-shadow: 0 0 5px rgba(121, 96, 16, 0.678);
    }
.input-login, .selection, .issues{
    margin-bottom: 10px;
}
    

    .contact-form .submit-btn {
        display: inline-block;
        width: 100%;
        padding: 15px;
        background-color: #0d2c0d;
        color: white;
        border: none;
        border-radius: 20px;
        margin-top: 10px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        transition:  0.7s;
    }

    .contact-form .submit-btn:hover {
        background-color: #165825;
        transform: translateX(7px) scale(1.05);
    }
.issues #message{
    color:rgb(4, 41, 9);
    padding: 20px;
    font-size: 120%;
    background-color: rgba(236, 229, 205, 0.9);
    border-radius: 20px;
}

/*Places stylings*/

.Description{
    background-color: #0d2c0d;
    border-radius: 0px 20px;
}
.Description h2{
    font-size: 200%;
    background-color: rgba(34, 97, 39, 0.4);
    padding: 20px;
    margin: 50px;
    display: inline-block;
    border: 3px solid #a88b4b;
    border-radius: 2px 20px;
    color:  #a88b4b;
    font-weight: bold;
    text-shadow: 0px 0px 2px#614e26, 1px 1px 5px rgba(6, 49, 9, 0.705);
    box-shadow: 0px 0px 2px#614e26, 1px 1px 5px rgba(202, 168, 95, 0.555);

}
.Description p{
    color:antiquewhite;
    text-shadow: 0px 0px 1px#614e26;
    padding: 10px;
    font-weight: lighter;
}

.Description table{
    padding: 7px;
    border: 3px solid #a88b4b;
    margin: 25px;
    border-radius: 2px 20px 2px 20px; 
    background-color: #ccb583;
}
.Description table th{
    background-color: #173012;
    color: #d4bb84;
    padding: 16px 12px;
    border: 3px solid #a88b4b;
    text-align: left;
    border-radius: 20px;
}
.Description table td{
    padding: 14px 12px;
    border: 3px solid #a88b4b;
    vertical-align: top;
    background-color: #e9ecc0;
    transition: 0.2s;
    border-radius: 20px;
}
.Description table td:hover, th:hover{
    transform:scale(1.1);
}

.Description img{
    width: 500px;
    border-radius: 20px;

}
.Description video{
    max-height: 300px;
    width: 500px;
    border-radius: 20px;
}

.image-holder{
    text-align: center;
    background-color: rgba(34, 97, 39, 0.4);
    display: block;
    padding: 20px;
    margin: 20px;
    margin-top: 200px;
    border-radius: 2px 20px;
    width: fit-content;
    float: right;
}
.image-video-holder{
    text-align: center;
    background-color: rgba(34, 97, 39, 0.4);
    max-height: 400px;
    display: block;
    padding: 20px;
    margin: 20px;
    border-radius: 2px 20px;
    width: fit-content;
    float: right;
}
.image-video-holder h3{
    background-color: rgba(2, 34, 5, 0.4);
    padding: 5px;
    border-radius: 2px 20px;
    color:  #a08241;
    font-weight: bold;
    text-shadow: 0px 0px 2px#614e26, 1px 1px 5px rgba(6, 49, 9, 0.705);
    box-shadow: 0px 0px 2px#614e26, 1px 1px 5px rgba(202, 168, 95, 0.555);
}
/*Audio*/
audio {
  background-color: #b39d63;
  border-radius: 2px 20px;
  margin-left: 20px;
  padding: 5px;
  outline: none;
}
.audio-holder i{
    color: #b39d63;
    border: 2px solid #b39d63;
    padding: 5px;
    border-radius: 20px;
}


/*_______Gallery_______*/
.galleryParent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px;
    gap: 20px; /* بديل عن margin الفردي */
}

.plGallery {
    display: flex;
    flex-direction: column; /*elements of a single cell are organized vertically*/
    width: 250px;
    padding: 15px;
    background-color: #173012;
    border-radius: 2px 20px;
    box-sizing: border-box; /* مهم عشان الـ padding ما يزيد العرض */
}

.plGallery a img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover; 
    border-radius: 20px;
    display: block;
}
.plGallery a{
    transition: 0.5s;
}


.plGallery a:hover{
    transform: scale(1.1);
    filter: brightness(0.7);
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(250, 235, 215, 0.589);
}

.plGallery p {
    margin: 10px 0 5px 0;
    color: rgb(168, 148, 103); 
}
.plGallery h3{
    margin: 10px 0;
    color: rgb(168, 148, 103); 
    background-color: rgba(34, 97, 39, 0.4);
    border-radius: 2px 20px;
    padding: 5px;
}
