:root{
    --primaryColor: white;
    --deepColor: #254160;
    --lightColor: #254160;

    --mainPadding: 0.6em;
    --subPadding: 0.4em;
    --radius: 8px;

    --navFont: 1.3em;

    --navWidth: 10em;
}

*{box-sizing: border-box;}

body{
    font-size: 1.5rem;
    position: relative;
}

ul{
    list-style-type: none;
    padding: 0;
}
a{text-decoration: none;}
nav{
    z-index: 1;
    width: var(--navWidth);
    height: 100vh;
    position: fixed;
    margin: 0.5em;
    border-radius: var(--radius);
    top: 0; 
    left: 0;
    background-color: var(--lightColor);
}
nav a{
    font-size: var(--navFont);
    padding: var(--subPadding);
    margin: var(--subPadding);
    display: inline-block;
    color: var(--primaryColor);
    border-radius: var(--radius);
    width: calc(100% - var(--subPadding) * 2);
}
nav a:not(.signIn){
    background-image: url(sand.jpg);
    background-size: 100% 100%;
}
li a:hover{
    background-image: url(sand.gif);
    background-size: 100% 100%;
}
nav a.signIn{
    padding: var(--mainPadding);
}
section{
     margin-left: var(--navheight);
     background-color: 
}
